.menu,
.menu nav {
  background: #D5B0AC;
  text-align: center;
  color: #402E2A;
}

.menu span{
  position: relative;
  display: inline-block;
  width: 100px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.menu span:hover{
  background-color: #9CD08F;
  color: #FFFFFF;
}

.menu nav{
  width: 100%;
  display: none;
  position: absolute;
}

.menu nav nav{
  top: 0;
  left: 100%;
}

.menu span:hover > nav{
  display: block;
}