.header {
  background: #eff1f0;
  display: flex;
  align-items: center;
  padding: 10px;
}

.header .logo {
  width: 150px;
  cursor: pointer;
}

.navigator span {
  margin: 0px 15px;
  color: rgba(0,0,0,.55);
  font-size: 18px;
  cursor: pointer;
}

.navigator span:hover {
  color: rgba(0,0,0, .7);
}

.footer {
  background: #eff1f0;
  padding: 10px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.footer-info__menu h3 {
  font-weight: 400;
  color: rgba(0,0,0,.95);
}

.footer-info__menu nav span {
  display: block;
  margin: 10px 0px;
  color: rgba(0,0,0,.55);
  cursor: pointer;
}

.footer-info__menu nav span:hover {
  color: rgba(0,0,0, .7);
}

.footer-info__contact div {
  margin: 10px 0px;
  color: rgba(0,0,0, .7);
  font-size: 17px;
}

.copyright {
  text-align: center;
  margin: 20px 0px;
}

.copyright span {
  font-size: 18px;
  color: rgba(0,0,0,0.9);
}

.feature-product {
  margin-top: 40px;
}

.feature-product h3 {
  color: #585858;
  font-size: 25px;
  text-align: center;
}

.product-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-item {
  min-width: 300px;
  max-width: 300px;
  padding: 0px 20px;
  margin: 30px 0px;
}

.product-item h4 {
  color: #585858;
  font-size: 21px;
  text-align: center;
}

.product-item p {
  color: #0d4732;
  font-size: 18px;
  text-align: center;
}

.product-item img {
  width: 100%;
}