<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student System Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="create-container">
        <div class="create-noti"></div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Full name</span>
          <input type="text" class="create-fname form-control" placeholder="Type here..." aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Phone number</span>
          <input type="number" class="create-pnum form-control" placeholder="Type here..." aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Class name</span>
          <input type="text" class="create-cname form-control" placeholder="Type here..." aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <button type="button" id="create-button" class=" btn btn-outline-primary">Create new student</button>

    </div>

    <div class="big-container container-xl">
        <div class="student-list">
          <form onsubmit="searchByName(event)" class="input-form-ctn">
            <input type="text" id="input-name" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" placeholder="Search by name.." title="Type in a name" />

            <select id="js-sort" class="form-select sort-box" onchange="selectSort()">
              <option value="fullName">Full Name</option>
              <option value="phoneNum">Phone Number</option>
              <option value="className">Class Name</option>
            </select>

            <select id="js-sort-order" class="form-select sort-box" onchange="selectSort()">
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>

          </form>

          <table id="student-table" class="table">
              <!-- empty -->
          </table>
        </div>

        <div class="update-container">
          <span class="update-noti"></span>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Full name</span>
            <input type="text" class="update-fname form-control" placeholder="Type here..." aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Phone number</span>
            <input type="text" class="update-pnum form-control" placeholder="Type here..." aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Class name</span>
            <input type="text" class="update-cname form-control" placeholder="Type here..." aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          <button id="update-button" class="btn btn-outline-info">Update this student</button>
        </div>
    </div>

    <div class="pagination-container" id="js-pagination-ctn">
      
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>